@import url("bootstrap-extended.css");
@import url("colors.css");
@import url("components.css");


@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300;
    src: local('Muli Light'), local('Muli-Light'), url(../fonts/Muli/Muli-Light.ttf) format('truetype');
  }
  
  /* vietnamese */
  
  @font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli Regular'), local('Muli-Regular'), url(../fonts/Muli/Muli-Regular.ttf) format('truetype');
  }
  
  /* vietnamese */
  
  @font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    src: local('Muli Bold'), local('Muli-Bold'), url(../fonts/Muli/Muli-Bold.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    src: local('Muli Bold'), local('Muli-Bold'), url(../fonts/Muli/Muli-Bold.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/Opens_Sans/OpenSans-LightItalic.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(../fonts/Opens_Sans/OpenSans-SemiBoldItalic.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../fonts/Opens_Sans/OpenSans-BoldItalic.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/Opens_Sans/OpenSans-Light.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/Opens_Sans/OpenSans-Regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../fonts/Opens_Sans/OpenSans-SemiBold.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/Opens_Sans/OpenSans-Bold.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/Opens_Sans/OpenSans-Bold.ttf) format('truetype');
  }